@import url("https://fonts.googleapis.com/css?family=Lato:300");
div.hero-div
{
  position: relative;

  img.hero
  {
	width: 100%;
	height: auto;
  }

  div.overlay {
	@media only screen and (min-width: 768px)
	{
	  position: absolute;
	}
    top: 0;
    left: 0;
    padding: 1rem 3rem 2rem;
    background: rgba(255, 255, 255, 0.8);
    margin-top: 0;
    max-width: 600px;

    img.compass-logo
    {
      width: 50px;
      float: left;
      margin-top: 12px;
    }

	h1
	{
	  &:after
	  {
		content: '';
		display: block;
		background: #00a9e0;
		height: 5px;
		width: 5em;
		margin: 1rem 0 -0.5rem;
	  }
	}

	p
	{
	  font-size: 20px;
	}
  }
}

ul.nav-list
{
  display: grid;
  list-style-type: none;

  @media only screen and (min-width: 768px)
  {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 2rem;
	margin: 3rem calc((255px * 3 + 5rem) - 100%);
	width: 100%;
  }

  @media only screen and (max-width: 768px)
  {
	grid-template-columns: 1fr;
	width: calc(100% - 80px);

	li a img
	{
	  max-width: unset;
	  width: 100%;
	}
  }

  li
  {
	width: 100%;
    height: auto;
  }
}