div.loader
{
  width: 50px;
  height: 50px;
  margin: auto;
  background: transparent;
  border: 1rem solid #e6e6e6;
  border-top: 1rem solid #236192;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

div.deadline-filter
{
  display: flex;

  div.select-container
  {
    margin-right: 1rem;
  }
}